Non-Foucs/server.py
Non-Focus/WORKING-backend-storing.py
__pycache__/*
Icons/*
1_david.not.found00.auth
client_secrets.json
backend-storing.py
backend-management.py
DO_NOT_DELETE_PASSOWRD_MANAGER.safe
.settings.yml